############
# IMP. The below credentials should not be stored in version control
############
# aws_access_key = "AKIAXXXXXXXXXXXXXXXX"
# aws_secret_key = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

## REQUIRED ##
region = "us-west-2"

## OPTIONAL ##
# instance_type   = "t3.small"
# ami_name_prefix = "supabase"
